Case Study 1: Creating a Series of Student Scores 
Scenario: A teacher wants to store scores of 5 students in a subject. 
Input: 
python 
import pandas as pd 
scores = pd.Series([85, 90, 78, 92, 88], index=['Amit', 'Bhavna', 'Chetan', 'Divya', 'Esha']) 
print(scores) 
Expected Output: 
Code 
Amit     
 85 
Bhavna    90 
Chetan    78 
Divya     92 
Esha      88 
dtype: int64

In [4]:
import pandas as pd 
scores=[85,90,78,92,88]
index=['amit','bhavana','chetan','divya','esha']

scores = pd.Series(scores,index=index) 
print(scores)

amit       85
bhavana    90
chetan     78
divya      92
esha       88
dtype: int64

Case Study 2: Creating a DataFrame of Student Marks 
Scenario: Store marks of 3 subjects for 4 students. 
Input: 
python 
data = {'Math': [85, 78, 92, 88], 
'Science': [90, 82, 95, 89], 
'English': [88, 76, 91, 84]} 
df = pd.DataFrame(data, index=['Amit', 'Bhavna', 'Chetan', 'Divya']) 
print(df) 
Expected Output: 
Code 
Math  Science  English 
Amit     
 85      
 90      
 88 
Bhavna    78       82       76 
Chetan    92       95       91 
Divya     88       89       84

In [5]:
data={'Math':[85,78,92,88],
      'Science':[90,82,95,89],
      'English':[88,76,91,84]}
index=['jiya','karan','megha','divya']
df=pd.DataFrame(data,index=index)
print(df)

       Math  Science  English
jiya     85       90       88
karan    78       82       76
megha    92       95       91
divya    88       89       84

Case Study 3: Handling Missing Data 
Scenario: Some student scores are missing. Fill them with the subject average. 
Input: 
python 
df.loc['Bhavna', 'Science'] = None 
df.fillna(df.mean(), inplace=True) 
print(df) 
Expected Output: 
Code 
Math  Science  English 
Amit     
 85     90.0       88 
Bhavna    78     91.3       76 
Chetan    92     95.0       91 
Divya     88     89.0       84

In [6]:
df.loc['jiya', 'Science'] = None 
df.fillna(df.mean(), inplace=True) 
print(df)

       Math    Science  English
jiya     85  88.666667       88
karan    78  82.000000       76
megha    92  95.000000       91
divya    88  89.000000       84

Case Study 4: Dropping an Entry 
Scenario: Drop a student who withdrew from the course. 
Input: 
python 
df.drop('Chetan', inplace=True) 
print(df) 
Expected Output: 
Code 
Math  Science  English 
Amit     
 85     90.0       88 
Bhavna    78     91.3       76 
Divya     88     89.0       84

In [7]:
df.drop('megha', inplace=True) 
print(df)

       Math    Science  English
jiya     85  88.666667       88
karan    78  82.000000       76
divya    88  89.000000       84

Case Study 5: Selecting Entries by Condition 
Scenario: Select students who scored above 85 in Math. 
Input: 
python 
high_math = df[df['Math'] > 85] 
print(high_math) 
Expected Output: 
Code 
Math  Science  English 
Amit     
 85     90.0       88 
Divya     88     89.0       84

In [9]:
math=df[df['Math']>85]
print(math)

       Math  Science  English
divya    88     89.0       84

Case Study 6: Data Alignment Between Two DataFrames 
Scenario: Align marks from two subjects stored in separate DataFrames. 
Input: 
python 
math = pd.Series([85, 78, 92], index=['Amit', 'Bhavna', 'Chetan']) 
science = pd.Series([90, 82, 95], index=['Bhavna', 'Chetan', 'Divya']) 
aligned = pd.DataFrame({'Math': math, 'Science': science}) 
print(aligned) 
Expected Output: 
Code 
Math  Science 
Amit    85.0      NaN 
Bhavna  78.0     90.0 
Chetan  92.0     82.0 
Divya    NaN     95.0

In [10]:
math = pd.Series([85, 78, 92], index=['Amit', 'Bhavna', 'Chetan']) 
science = pd.Series([90, 82, 95], index=['Bhavna', 'Chetan', 'Divya']) 
aligned = pd.DataFrame({'Math': math, 'Science': science}) 
print(aligned)

        Math  Science
Amit    85.0      NaN
Bhavna  78.0     90.0
Chetan  92.0     82.0
Divya    NaN     95.0

Case Study 7: Ranking Students by Total Marks 
Scenario: Rank students based on total marks. 
Input: 
python 
df['Total'] = df.sum(axis=1) 
df['Rank'] = df['Total'].rank(ascending=False) 
print(df[['Total', 'Rank']]) 
Expected Output: 
Code 
Total  Rank 
Amit    263.0   2.0 
Bhavna  245.3   3.0 
Divya   261.0   1.0

In [11]:
df['Total'] = df.sum(axis=1) 
df['Rank'] = df['Total'].rank(ascending=False) 
print(df[['Total', 'Rank']])

            Total  Rank
jiya   261.666667   1.0
karan  236.000000   3.0
divya  261.000000   2.0

Case Study 8: Sorting by English Marks 
Scenario: Sort students by their English scores. 
Input: 
python 
sorted_df = df.sort_values(by='English', ascending=False) 
print(sorted_df) 
Expected Output: 
Code 
Math  Science  English  Total  Rank 
Amit     
 85     90.0       88  263.0   2.0 
Divya     88     89.0       84  261.0   1.0 
Bhavna    78     91.3       76  245.3   3.0

In [12]:
sorted_df = df.sort_values(by='English', ascending=False) 
print(sorted_df)

       Math    Science  English       Total  Rank
jiya     85  88.666667       88  261.666667   1.0
divya    88  89.000000       84  261.000000   2.0
karan    78  82.000000       76  236.000000   3.0

Case Study 9: Adding a New Column â€“ Attendance % 
Scenario: Add attendance percentage for each student. 
Input: 
python 
df['Attendance'] = [95, 88, 92] 
print(df[['Attendance']]) 
Expected Output: 
Code 
Attendance 
Amit           
Bhavna          
Divya           
 95 
88 
92

In [13]:
df['Attendance'] = [95, 88, 92] 
print(df[['Attendance']])

       Attendance
jiya           95
karan          88
divya          92

Case Study 10: Selecting Specific Columns and Rows 
Scenario: Display only Math and English scores for Amit and Divya. 
Input: 
python 
selected = df.loc[['Amit', 'Divya'], ['Math', 'English']] 
print(selected) 
Expected Output: 
Code 
Math  English 
Amit     
 85      
 88 
Divya     88       84

In [16]:
selected = df.loc[['jiya', 'divya'], ['Math', 'English']] 
print(selected)

       Math  English
jiya     85       88
divya    88       84